{{ $resume := index site.Data .Site.Language.Lang "resume" }}
<div class="lg:sticky top-8">
    <div class="resume-aside space-y-8 pl-0 lg:pl-8 lg:border-l lg:border-card-separator pb-4">
        {{ if $resume.education.enable }}
        {{ partial "resume/education.html" . }}
        {{ end }}

        {{ if $resume.certification.enable }}
        {{ partial "resume/certification.html" . }}
        {{ end }}

        {{ if $resume.teaching.enable }}
        {{ partial "resume/teaching.html" . }}
        {{ end }}

        {{ if $resume.skills.enable }}
        {{ partial "resume/skills.html" . }}
        {{ end }}

        {{ if $resume.languages.enable }}
        {{ partial "resume/languages.html" . }}
        {{ end }}

        {{ if $resume.interests.enable }}
        {{ partial "resume/interests.html" . }}
        {{ end }}
    </div><!--//resume-aside-->
</div>