{{ define "body-class" }}template-archives{{ end }}

{{ define "main" }}
    <header>
        <h1 class="text-center text-4xl font-bold">{{ .Title }}</h1>
        {{ with .Content }}
            <p class="text-center text-xl text-card-text-secondary">{{ . }}</p>
        {{ end }}
    </header>
    <section class="flex-grow space-y-4">
        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
        {{ $filtered := where $pages "Params.hidden" "ne" true }}
        {{ if $filtered }}
            {{ range $filtered }}
                {{ partial "article-list/compact" . }}
            {{ end }}
        {{ end }}
    </section>
    {{ partialCached "footer/footer" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{/* Archives page doesn't use right sidebar */}}
{{ end }}
