<div class="article-list--compact links">
    {{ range $i, $link := .Params.links }}
        <article>
            <a href="{{ $link.website }}" target="_blank" rel="noopener">
                <div class="article-details">
                    <h2 class="article-title">
                        {{- $link.title -}}
                    </h2>
                    <footer class="article-time">
                        {{ with $link.description }}
                            {{ . }}
                        {{ else }}
                            {{ $link.website }}
                        {{ end }}
                    </footer>
                </div>
        
                {{ with $link.image }}
                    {{ $permalink := . }}
                    {{ with ($.Resources.GetMatch (printf "%s" (. | safeURL))) }}
                        {{ $permalink = .RelPermalink }}
                    {{ end }}
                    <div class="block overflow-hidden rounded-card mb-4">
                        <img src="{{ $permalink }}"
                             loading="lazy"
                             class="w-full h-auto block object-cover transition-transform duration-300 hover:scale-[1.02]">
                    </div>
                {{ end }}
            </a>
        </article>
    {{ end }}
</div>